.navbar-brand img {
    width: 100px;
}

#boton_verde {
    color: #25a342
}

.carousel-item {
    opacity: .8;
}

#colorReact {
    color: white;
    background-color: rgba(23, 162, 183, 255);
}

.oradores {
    text-align: center;
    text-decoration: none;
}

.contenedor {
    display: flex;
    align-items: flex-start;
    justify-content:center;
}

#margen
{
    margin-right: 20px;
    margin-left: 20px;
}

#colorStartups {
    color: white;
    background-color: #db3544;
}

#colorNegocios {
    color: white;
    background-color: #6c757c;
}

#contain {   
    margin: 0;
    padding: 0;
    border-top: 2px double lightgrey;
}
.dotted
{
    border-bottom: 2px dotted black;
    text-decoration: none; 
}

#texto{
    border-left: 1px double lightgrey;
    background-color: #353a40;
    color: white;
}

#estudiante{
    border: 2px solid blue; 
}

#trainee{
    border: 2px solid green; 
}
#junior{
    border: 2px solid orange; 
}
.venta{
    text-align: center;
}

#valor{
    padding-left: 20%;
    padding-right: 20%;
}
.FlexContainer
{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-size: large;
}
.fuente_chica{
    font-size:small;
}

.FlexContainer > div
{
    width: 250px;
    height: 250px;
}


#enviar,#btnBorrar,#btnResumen{
    background-color: #96c93e;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}

#totalPago{
    margin-left: 1.3%;
    text-align: left;
}

#btnBorrar{
    margin-left: 1.4%;
}
#btnResumen{
    margin-left: 2.4%;
}

#texto_footer {
    padding-right: 118px;
    padding-top: 10px;
    color: white;
}
#fondopie{
    background-color: #1d4358;
}